[submodule "dependencies/oboe"]
	path = library/dependencies/oboe
	url = https://gitee.com/mirrors_google/oboe.git
[submodule "dependencies/fmt"]
	path = library/dependencies/fmt
	url = https://gitee.com/mirrors/fmt.git
[submodule "library/dependencies/frozen_string"]
	path = library/dependencies/frozen_string
	url = https://gitclone.com/github.com/rhysd/FrozenString.git
[submodule "library/dependencies/libsamplerate"]
	path = library/dependencies/libsamplerate
	url = https://gitee.com/mirrors/libsamplerate.git
[submodule "library/dependencies/result"]
	path = library/dependencies/result
	url = https://gitclone.com/github.com/oktal/result.git
[submodule "library/dependencies/ffmpeg"]
	path = library/dependencies/ffmpeg
	url = https://gitee.com/mirrors/ffmpeg.git
